Body {font-family : Arial, Verdana, Helvetica, Sans-Serif; background-color : #000000; color : #008000; font-size : 10pt;}

A:link {color : #008000; font-weight : bold; text-decoration : none; background : #000000;}

A:visited {color : #008000; font-weight : bold; text-decoration : none; background : #000000;}

A:hover {color : #000000; font-weight : bold; text-decoration : none; background : #008000;}

A:active {color : #008000; font-weight : bold; text-decoration : none; background : #008000;}

div.defstyle {background-color:#000000; background-image: none; background-attachment:fixed; border-style:dashed; border-width: 1px; border-color:#008000; font-family:Arial, Verdana, Helvetica, Sans-Serif; font-size:10pt; color:#008000; text-align:left; white-space:pre-wrap; overflow:auto; padding:10px; width: 700px; height: 330px; margin: -15px 0 0 0}

div.headstyle {background-color:#000000; background-image: none; background-attachment:fixed; border-style:none; border-width: 1px; border-color:#008000; font-family:Arial, Verdana, Helvetica, Sans-Serif; font-size:10pt; color:#008000; width: 623px; height: 10px; text-align:justify}


body {

scrollbar-arrow-color: #ffffff;

scrollbar-base-color:#ffffff;

scrollbar-darkshadow-color: #ffffff;

scrollbar-track-color: #ffffff;

scrollbar-face-color: #ffffff;

scrollbar-shadow-color: #ffffff;

scrollbar-highlight-color: #ffffff;

scrollbar-3d-light-color: #ffffff;

}
