<!--so you got my source big deal I really dont care.-->
<!--# include file="/includes/header.html" -->
<div class=defstyle>-- <a href="/about.html">About</a>
======================================
<<ADD ABOUT HERE>>
</div>
<!--#include file="/includes/footer.html" -->
